<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead>
          <tr class=table-primary>
            <th>Ranking</th>
            <th>Name</th>
            <th>Score</th>
            <th>Time(min)</th>
          </tr>
        </thead>
        <tbody>
        <% for(let i = 0;i < userArray.length; i++){%>
          <tr <%= i%2 ? `class=table-dark` : `` %> >
            <th scope="row"><%= i+1 %></th>
            <td><%= userArray[i].id %></td>
            <td><%= userArray[i].score %></td>
            <td><%= userArray[i].time %></td>
          </tr>
        <% } %>
          
        </tbody>
      </table>
      
</body>
</html>