<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="icon" href="../images/favicon.ico"/>
    <style>
     
        .tooltiptext {
        visibility: hidden;
        background-color: #53C6A2;
        color: black;
        position: absolute;
        z-index: 1;
        border-radius: 25px;
        width: 20%;
        text-align: center;
        border: black solid 1px;
      }
      
      #hover:hover .tooltiptext {
        visibility: visible;
      }
      body{
        background-color: #056A8B;
      }
      b{
        font-weight:bold;
        font-style: normal;
      }
      </style>
</head>
<body>
    <table class="table">
        <thead>
          <tr class=table-secondary>
            <th>Ranking</th>
            <th>Name</th>
            <th>Highest Score</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        <% for(let i = 0;i < userArray.length; i++){%>
          <tr <%= i%2 ? `class=table-dark` : `class=table-light` %> >
            <th scope="row"><%= i+1 %></th>
            <td id="hover"><i><%= userArray[i].username %> <span class="tooltiptext"><%= userArray[i].email  %><br><b><%= userArray[i].friendsList %></b></i></span></td> 
             <!-- conditional rendering -->
            <td><%= userArray[i].scores.length && userArray[i].scores[0].score %></td>
            <td><%= userArray[i].scores.length && userArray[i].scores[0].dateAchieved %></td>
          </tr>
        <% } %>
          
        </tbody>
      </table>
      
</body>
</html>